@font-face {
    font-family: 'Blingtastic';
    src: url('../fonts/BlingtasticScript.ttf') format('truetype'),
    url('../fonts/BlingtasticScript.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Kreon';
    src: url('../fonts/BlingtasticScript.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Kreon';
    src: url('../fonts/Kreon/Kreon-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Kreon';
    src: url('../fonts/Kreon/Kreon-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}